<div class="content">
    <h2>ABOUT ME</h2>
    <p> As a full stack software engineer, I thrive on the challenges I am met with in my work.
        These challenges spur a constant reevaluation of my thought process and approach to solving problems.
        It is fascinating to see the various ways one problem can be solved and the creativity and elegance
        in each solution. Instead of viewing challenges as a deterrent, I see them as a way to grow and foster
        my skills.
    </p>
    <br>
    <p> I have experience creating full-stack Javascript applications, both on web and mobile, utilizing
        technologies such as the MEAN stack, React Native, and MySQL amongst others. I find it extremely
        gratifying and rewarding to be able to implement a seed of an idea into something that can solve a
        real world problem or be of use to someone else.
    </p>
</div>