<section class="banner">
<div class="overlay">

    <img src="https://avatars1.githubusercontent.com/u/11811076?v=3&s=460" alt="author thumb" class="dot animated hinge fadeInDown">

    <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">{{ site.title }}</strong>I am a <em itemprop="jobTitle">Software Engineer</em> and love travel!</h2>

    <!--<nav class="actions">-->
        <!--<a href="#" class="button ghost">About</a>-->
        <!--<a href="{{ site.repo }}/archive/master.zip" class="button ghost">Download</a>-->
    <!--</nav>-->
</div>
</section>

