

<footer class="site-footer" id="contact">
  <div class="wrapper icons">
    <div class="social-media-list">
        <a href="https://github.com/{{ site.github_username }}" class="icon social" target="_blank">
          <span class="icon icon-github">{% include icon-github.svg %}</span>
        </a>
        <a href="mailto:{{ site.email }}" class="icon social" target="_blank">
          <span class="icon icon-email">{% include icon-email.svg %}</span>
        </a>
        <a href="https://twitter.com/{{ site.twitter_username }}" class="icon-twitter" target="_blank">
          <span class="icon icon-twitter">{% include icon-twitter.svg %}</span>
        </a>
        <a href="https://instagram.com/{{ site.instagram_username }}" class="icon social" target="_blank">
          <span class="icon icon-instagram">{% include icon-instagram.svg %}</span>
        </a>
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon social" target="_blank">
          <span class="icon icon-linkedin">{% include icon-linkedin.svg %}</span>
        </a>
        <br>
        <br>
        <a id="arrow" href="#"><img src="../assets/arrowup.svg" alt="up"></a>
    </div>

      <br>
    <p class="content">
      <q>{{ site.thought.text }}</q>
      <small>– {{ site.thought.author }}</small>
    </p>

  </div>
</footer>

<a class="scroll-up fa fa-chevron-up bounce" href="#" data-position="0"></a>
