<section class="portfolio" id="portfolio">
    <div class="content">
        <h2>>_ PORTFOLIO</h2>
        <div class="row">
            <div class="column">
                <img src="../assets/Footprints.png" alt="footprints thumb">
            </div>
            <div class="column">
                <h3>Footprints</h3>
                <p>
                    An iOS walking tours app that allows you to curate stories and experiences
                    through physical places by creating personalized tours.
                </p>
                <ul>
                    <li>React Native</li>
                    <li>Node</li>
                    <li>Express</li>
                    <li>MySQL</li>
                    <li>AWS (EC2, RDS, S3)</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h3>Yugen</h3>
                <p>
                    A travel planning tool that allows you to visually track your destinations and collect travel information, attractions
                    and a travel itinerary.
                </p>
                <ul>
                    <li>MEAN stack</li>
                    <li>Web scraping</li>
                    <li>Google Maps API</li>
                    <li>Semantic UI</li>
                </ul>
            </div>
            <div class="column">
                <img src="../assets/Yugen.png" alt="yugen thumb">
            </div>
        </div>

        <div class="row">
            <div class="column">
                <img src="../assets/Lancealot.png" alt="lancealot thumb">
            </div>
            <div class="column">
                <h3>Lance-a-Lot</h3>
                <p>
                    A project management tool that allows freelancers to track their jobs, clients, and time
                </p>
                <ul>
                    <li>Backbone</li>
                    <li>MySQL</li>
                    <li>D3</li>
                    <li>Node</li>
                    <li>Express</li>
                </ul>
            </div>
        </div>
    </div>
</section>
